<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anexo II</title>
    <link rel="stylesheet" href="anexoII.css">
</head>
<body>
    <header>
        <h3>ANEXO II</h3>
        <img src="imagens/ink.png" alt="img-napne" height="200px">
    </header>
    <main>
        <div class="anexoII">
            <form action="">
                <fieldset class="dados-pessoais-aluno">
                    <div>
                        <label for="nome-estudante">Nome do Estudante</label>
                        <input type="text" name="nome-estudante" id="nome-estudante">
                    </div>
                    <div>
                        <label for="nome-curso">Curso</label>
                        <input type="text" name="nome-curso" id="nome-curso">
                    </div>
                    <div>
                        <label for="NEE">Necessidades Educacionais Específicas</label>
                        <input type="text" name="NEE" id="NEE">
                    </div>
                    <div>
                        <label for="CC-D">Componente Curricular/Disciplina</label>
                        <input type="text" name="CC-D" id="CC-D">
                    </div>
                    <div>
                        <label for="Docente">Docente(s)</label>
                        <input type="text" name="Docente" id="Docente">
                    </div>
                    <div>
                        <label for="EMR">Equipe multiprofissional responsável</label>
                        <input type="text" name="EMR" id="EMR">
                    </div>
                </fieldset>
                <fieldset >
                    <div class="PlanoComponenteCurricular">
                        <div class="caixaDeTitulo">
                            <div><p>Plano do Componente Curricular</p></div>
                            <div><p>Adaptações </p></div>
                        </div>
                        <div>
                            <label for="Objetivos">Objetivos</label>
                            <textarea type="text" name="Objetivos" id="Objetivos" placeholder="Objetivos"></textarea>
                            <textarea type="text" name="Adaptaçõeso-objetivo" id="Adaptaçõeso-objetivo" placeholder="Adaptações"></textarea>
                        </div>
                        <div>
                            <label for="">Conteúdos Programáticos </label>
                            <textarea type="text" name="ConteúdosProgramáticos" id="ConteúdosProgramáticos" placeholder="Conteúdos Programáticos"></textarea>
                            <textarea type="text" name="ConteúdosProgramáticosAdaptaçoes" id="ConteúdosProgramáticosAdaptaçoes" placeholder="Adaptações"></textarea>
                        </div>
                        <div>
                            <label for="">Metodologias </label>
                            <textarea type="text" name="Metodologias" id="Metodologias" placeholder="Metodologias"></textarea>
                            <textarea type="text" name="MetodologiasAdaptaçoes" id="MetodologiasAdaptaçoes" placeholder="Adaptações"></textarea>
                        </div>
                        <div>
                            <label for="">Recursos Didáticos </label>
                            <textarea type="text" name="RecursosDidáticos" id="RecursosDidáticos" placeholder="Recursos Didáticos"></textarea>
                            <textarea type="text" name="RecursosDidáticosAdaptaçoes" id="RecursosDidáticosAdaptaçoes" placeholder="Adaptações"></textarea>
                        </div>
                        <div>
                          <label for="">Avaliações</label>
                          <textarea type="text" name="Avaliações" id="Avaliações"  placeholder="Avaliações"></textarea>
                          <textarea type="text" name="AvaliaçõesAdaptaçoes" id="AvaliaçõesAdaptaçoes"  placeholder="Adaptações"></textarea>
                        </div>
                    </div>
                    <div class="RDAPpeiPeloProfessor">
                        <div>
                            <label for="">Registro do desenvolvimento e acompanhamento processual do PEI pelo professor</label>
                            <textarea type="text" name="RDAPpeiPeloProfessor" id="RDAPpeiPeloProfessor"></textarea>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>