<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anexo I</title>
    <link rel="stylesheet" href="anexoI.css">
</head>
<body>
    <header>
        <div>
            <h3>ANEXO 1<br>PLANO EDUCACIONAL INDIVIDUALIZADO(PEI)<br>HISTORICO DO ALUNO</h3>
            <img src="imagens/ink.png" alt="" height="200px">
        </div>
    </header>
    <main>
        <div class="historico-aluno">
            <form class="historico-do-aluno" action="">
                <fieldset class="dados-pessoais-aluno">
                    <div>
                        <label for="nome">Nome do Estudante</label>
                        <input type="text" name="nome" id="nome">
                    </div>
                    <div>
                        <label for="Curso">Curso</label>
                        <input type="text" name="Curso" id="Curso">
                    </div>
                    <div>
                        <label for="NEE">Necessidades Educacionais Específicas</label>
                        <input type="text" name="NEE" id="NEE">
                    </div>
                    <div>
                        <label for="EMR-nome">Equipe multiprofissional responsável(Nome)</label>
                        <input type="text" name="EMR-nome" id="EMR-nome">
                        <label for="EMR-funçao">Equipe multiprofissional responsável(Função)</label>
                        <input type="text" name="EMR-funçao" id="EMR-funçao">
                    </div>
                </fieldset>
                <fieldset class="dados-escolar-pessoal">
                    <div>
                        <label class="HPE-estudante" for="HPE-estudante">HISTÓRICO PESSOAL E ESCOLAR DO (A) ESTUDANTE</label>
                        <textarea type="text" name="HPE-estudante" id="HPE-estudante"></textarea>
                    </div>
                    <div>
                        <label class="NEE-Estudante" for="NEE-Estudante">Necessidades Educacionais Específicas</label>
                        <textarea type="text" name="NEE-EstudanteTEXT"  id="NEE-Estudante"></textarea>
                    </div>
                    <div>
                        <label for="CHCIN">Conhecimentos, Habilidades, Capacidades, 
                            Interesses, Necessidades (O que sabe? Do que gosta/afinidades?...)</label>
                        <textarea type="text" name="CHCIN" id="CHCIN"></textarea>
                    </div>
                    <div>
                        <label for="Dificuadades-apresentadas">Dificuldades apresentadas </label>
                        <textarea type="text" name="Dificuadades-apresentadas" id="Dificuadades-apresentadas"></textarea>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
</body>
</html>