<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anexo III</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='anexoIII.css') }}">
</head>
<body>
    <header>
        <h3>ANEXO III<br>REGISTRO DO ACOMPANHAMENTO DO PEI E PARECER DA EQUIPE</h3>
        <img src="{{ url_for('static', filename='ink.png') }}" alt="napne" height="200px">
    </header>
    <main>
        <div class="anexoIII">
            <form action="/anexoIII" method="post" autocomplete="off">
                <fieldset class="numero_pei_anexoIII">
                    <label for="numero_pei_anexoIII">Número do pei que está relacionado ao aluno</label>
                    <input type="text" name="numero_pei_anexoIII" id="numero_pei_anexoIII" required>
                </fieldset>
                <fieldset class="REGISTRODOACOMPANHAMENTODOPEIEPARECERDAEQUIPE">
                    <div>
                        <label for="DAEDAEEpei">Descrever avanços do/a estudante durante o acompanhamento de elaboração e execução do PEI.</label>  
                        <textarea type="text" name="DAEDAEEpei" id="DAEDAEEpei"></textarea>
                    </div>
                    <div>
                        <label for="PEM">PARECER DA EQUIPE MULTIPROFISSIONAL</label>
                        <textarea type="text" name="PEM" id="PEM"></textarea>
                    </div>
                </fieldset>
                <div class="botoes">
                    <div class="botao">
                        <input class="Botao" type="submit" value="Salvar">
                    </div>
                </div>
             </form>
        </div>
    </main>
</body>
</html>