<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anexo I</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='anexoI.css') }}">
</head>
<body>
    <header>
        <div>
            <h3>ANEXO 1<br>PLANO EDUCACIONAL INDIVIDUALIZADO(PEI)<br>HISTORICO DO ALUNO</h3>
            <img src="{{ url_for('static', filename='ink.png') }}" alt="napne" height="200px"> 
        </div>
    </header>
    <main>
        <div class="historico-aluno">
            <form class="historico-do-aluno" action="/anexoI" method="post" autocomplete="off">
                <fieldset class="numero_pei_anexoI">
                    <label for="numero_pei_anexoI">Numero do pei do estudante</label>
                    <input type="text" name="numero_pei_anexoI" id="numero_pei_anexoI" required>
                </fieldset>
                <fieldset class="dados-escolar-pessoal">
                    <div>
                        <label class="HPE-estudante" for="HPE-estudante">HISTÓRICO PESSOAL E ESCOLAR DO (A) ESTUDANTE</label>
                        <textarea type="text" name="HPE-estudante" id="HPE-estudante"></textarea>
                    </div>
                    <div>
                        <label for="CHCIN">Conhecimentos, Habilidades, Capacidades, 
                            Interesses, Necessidades (O que sabe? Do que gosta/afinidades?...)</label>
                        <textarea type="text" name="CHCIN" id="CHCIN"></textarea>
                    </div>
                    <div>
                        <label for="Dificuadades-apresentadas">Dificuldades apresentadas </label>
                        <textarea type="text" name="Dificuadades-apresentadas" id="Dificuadades-apresentadas"></textarea>
                    </div>
                    <div>
                        <label class="observaçoes" for="observaçoes">Observações</label>
                        <textarea type="text" name="observaçoes"  id="observaçoes"></textarea>
                    </div>
                </fieldset>
                <div class="botoes">
                    <div class="botao">
                        <input class="Botao" type="submit" value="Avançar">
                    </div>
                </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>