<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anexo II</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='anexoII.css') }}">
</head>
<body>
    <header>
        <h3>ANEXO II</h3>
        <img src="{{ url_for('static', filename='ink.png') }}" alt="napne" height="200px">
    </header>
    <main>
        <div class="anexoII">
            <form action="/anexoII" method="post" autocomplete="off">
                <fieldset class="numero_pei_anexoII">
                    <label for="numero_pei_anexoII">Número do pei que está relacionado ao aluno</label>
                    <input type="text" name="numero_pei_anexoII" id="numero_pei_anexoII" required>
                </fieldset>
                <fieldset class="dados-pessoais-aluno">
                    <div>
                        <label for="CC-D">Componente Curricular/Disciplina</label>
                        <input type="text" name="CC-D" id="CC-D" required>
                    </div>
                    <div>
                        <label for="Docente">Docente(s)</label>
                        <input type="text" name="Docente" id="Docente" required>
                    </div>
                </fieldset>
                <fieldset >
                    <div class="PlanoComponenteCurricular">
                        <div class="caixaDeTitulo">
                            <div><p>Plano do Componente Curricular</p></div>
                            <div><p>Adaptações </p></div>
                        </div>
                        <div>
                            <label for="Objetivos">Objetivos</label>
                            <textarea type="text" name="Objetivos" id="Objetivos" placeholder="Objetivos"></textarea>
                            <textarea type="text" name="Adaptaçõeso-objetivo" id="Adaptaçõeso-objetivo" placeholder="Adaptações"></textarea>
                        </div>
                        <div>
                            <label for="">Conteúdos Programáticos </label>
                            <textarea type="text" name="ConteúdosProgramáticos" id="ConteúdosProgramáticos" placeholder="Conteúdos Programáticos"></textarea>
                            <textarea type="text" name="ConteúdosProgramáticosAdaptaçoes" id="ConteúdosProgramáticosAdaptaçoes" placeholder="Adaptações"></textarea>
                        </div>
                        <div>
                            <label for="">Metodologias </label>
                            <textarea type="text" name="Metodologias" id="Metodologias" placeholder="Metodologias"></textarea>
                            <textarea type="text" name="MetodologiasAdaptaçoes" id="MetodologiasAdaptaçoes" placeholder="Adaptações"></textarea>
                        </div>
                        <div>
                            <label for="RecursosDidáticos">Recursos Didáticos </label>
                            <textarea type="text" name="RecursosDidáticos" id="RecursosDidáticos" placeholder="Recursos Didáticos"></textarea>
                            <textarea type="text" name="RecursosDidáticosAdaptaçoes" id="RecursosDidáticosAdaptaçoes" placeholder="Adaptações"></textarea>
                        </div>
                        <div>
                            <label for="Avaliaçao_PlanoDisciplina">Avaliação, Plano da disciplina</label>
                            <textarea type="text" name="Avaliaçao_PlanoDisciplina" id="Avaliaçao_PlanoDisciplina" placeholder="Avaliação, plano da disciplina"></textarea>
                            <textarea type="text" name="Avaliaçao_PlanoDisciplinaAdaptaçoes" id="Avaliaçao_PlanoDisciplinaAdaptaçoes" placeholder="Adaptações"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="botoes">
                    <div>
                        <input class="Botao" type="submit" value="Salvar">
                    </div>
                    <div class="botoesLocalizaçao">
                        <div><a href="/anexoI">AnexoI</a></div>
                        <div><a href="/">Cadastrar</a></div>
                        <div><a href="/anexoIII">AnexoIII</a></div>
                        <div><a href="/pei">Gerar PEI</a></div>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>