<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        {% if Docente %}
        <p>{{ Docente }}</p>
        {% endif %}
        {% if Objetivos %}
        <p>{{ Objetivos }}</p>
        {% endif %}
        {% if adaptaçoes_objetivos %}
        <p>{{ adaptaçoes_objetivos }}</p>
        {% endif %}
        {% if Conteúdos_Programáticos %}
        <p>{{ Conteúdos_Programáticos }}</p>
        {% endif %}
        {% if Conteúdos_Programáticos_Adaptacoes %}
        <p>{{ Conteúdos_Programáticos_Adaptacoes}}</p>
        {% endif %}
        {% if Metodologias %}
        <p>{{ Metodologias }}</p>
        {% endif %}
        {% if Metodologias_Adaptacoes %}
        <p>{{ Metodologias_Adaptacoes }}</p>
        {% endif %}
        {% if Recursos_Didáticos %}
        <p>{{ Recursos_Didáticos }}</p>
        {% endif %}
        {% if Recursos_Didáticos_Adaptacoes %}
        <p>{{ Recursos_Didáticos_Adaptacoes }}</p>
        {% endif %}
        {% if Avaliações %}
        <p>{{ Avaliações }}</p>
        {% endif %}
        {% if Avaliações_Adaptacoes %}
        <p>{{ Avaliações_Adaptacoes }}</p>
        {% endif %}
        {% if Acompanhamento %}
        <p>{{ Acompanhamento }}</p>
        {% endif %}
        {% if avancos %}
        <p>{{ avancos }}</p>
        {% endif %}
        {% if parecer %}
        <p>{{ parecer }}</p>
        {% endif %}
        {% if matricula_aluno %}
        <p>{{ matricula_aluno }}</p>
        {% endif %}
        {% if coordenador %}
        <p>{{ coordenador }}</p>
        {% endif %}
        {% if equipe_Napene %}
        <p>{{ equipe_Napene }}</p>
        {% endif %}
        {% if contextualizaçao %}
        <p>{{ contextualizaçao }}</p>
        {% endif %}
        {% if hsitorico %}
        <p>{{ hsitorico }}</p>
        {% endif %}
        {% if Conhecimentos_Habilidades_Capacidades %}
        <p>{{ Conhecimentos_Habilidades_Capacidades }}</p>
        {% endif %}
        {% if Dificuldades_apresentadas %}
        <p>{{ Dificuldades_apresentadas}}</p>
        {% endif %}
        {% if observacoes %}
        <p>{{ observacoes }}</p>
        {% endif %}
        {% if Componente_Curricular_Disciplina %}
        <p>{{ Componente_Curricular_Disciplina }}</p>
        {% endif %}
        {% if Nome_curso %}
        <p>{{ Nome_curso }}</p>
        {% endif %}
        {% if Necessidades_Educacionais_Específicas %}
        <p>{{ Necessidades_Educacionais_Específicas }}</p>
        {% endif %}
        {% if Equipe_multiprofissional_responsável_nome %}
        <p>{{ Equipe_multiprofissional_responsável_nome }}</p>
        {% endif %}
        {% if  Equipe_multiprofissional_responsável_funcao %}
        <p>{{  Equipe_multiprofissional_responsável_funcao }}</p>
        {% endif %}
        {% if Nome_estudante %}
        <p>{{ Nome_estudante }}</p>
        {% endif %}
        {% if Nivel_ensino %}
        <p>{{ Nivel_ensino }}</p>
        {% endif %}
        {% if dados_pei %}
        <p>{{ dados_pei }}</p>
        {% endif %}
    </main>
</body>
</html>