* {
    padding: 0;
    margin: 0;
}
body {
    background-color:#44A666;
    font-family: Arial, Helvetica, sans-serif;
}
fieldset {
    border: none;
}

/*parte 1: primeira pagina do anexo 3(infromaçoes do aluno)*/
header {
    margin: auto;
    text-align: center;
    background-color: white;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding-top: 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
main {
    margin: auto;
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.numero_pei_anexoIII {
    text-align: center;
    margin: auto;
    max-width: 900px;
    margin-bottom: 50px;
    border: none;
}
.numero_pei_anexoIII > input {
    height: 30px;
    max-width: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0.5px solid black;
}



/*parte 2: primeira pagina do anexo 3(infromaçoes do aluno)*/
.REGISTRODOACOMPANHAMENTODOPEIEPARECERDAEQUIPE {
    margin: auto;
    max-width: 900px;
    margin-bottom: 50px;
    border: none;
}
.REGISTRODOACOMPANHAMENTODOPEIEPARECERDAEQUIPE > div {
    display: flex;
    flex-direction: column;
}
.REGISTRODOACOMPANHAMENTODOPEIEPARECERDAEQUIPE > div > label {
    background-color:#44A666;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.REGISTRODOACOMPANHAMENTODOPEIEPARECERDAEQUIPE > div > textarea {
    height: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0.5px solid black;
    margin-bottom: 20px;
}




/*BOTOES*/
.botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Botao {
    height: 50px;
    width: 300px;
    margin-left: 22px;
    margin-top: 20px;
    background-color:#44A666;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
}
.Botao:hover {
    height: 55px;
    width: 305px;
    transition-duration: 0.5s;
    background-color: #44A666;
    color: white;
}

/*Botoes de localizaçao*/
.botoesLocalizaçao {
    display: flex; 
}

.botoesLocalizaçao > div > a {
    text-decoration: none;
    color: black;
    background-color:#44A666;
    height: 40px;
    width: 70px;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botoesLocalizaçao > div > a:hover {
    background-color: #44A666;
    transition-duration: 0.5s;
    height: 45px;
    width: 70px;
    color: white;
}
