* {
    padding: 0;
    margin: 0;
}
body {
    background-color:#44A666;
}

/*parte 1: primeira pagina do pei(infromaçoes do aluno)*/
header {
    margin: auto;
    text-align: center;
    background-color: white;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    padding-top: 30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
main {
    margin: auto;
    max-width: 1000px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.numero_pei_anexoI {
    text-align: center;
    margin: auto;
    max-width: 900px;
    margin-bottom: 50px;
    border: none;
}
.numero_pei_anexoI > input {
    height: 30px;
    max-width: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0.5px solid black;
}
/*parte 2: primeira pagina do pei(infromaçoes do aluno)*/
.dados-escolar-pessoal{
    max-width: 900px;
    margin: auto;
    border: none;
   
}
.dados-escolar-pessoal > div{
    display: flex;
    flex-direction: column;
}
.dados-escolar-pessoal > div > label{
    background-color:#53A62D;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dados-escolar-pessoal > div > textarea{
    height: 100px;
    margin-bottom: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0.5px solid black;
}

/*BOTOES*/
.botoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Botao {
    height: 50px;
    width: 300px;
    margin-left: 22px;
    margin-top: 20px;
    background-color: #53A62D;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
}
.Botao:hover {
    height: 55px;
    width: 305px;
    transition-duration: 0.5s;
    background-color: #44A666;
    color: white;
}

/*Botoes de localizaçao*/
.botoesLocalizaçao {
    display: flex; 
}

.botoesLocalizaçao > div > a {
    text-decoration: none;
    color: black;
    background-color: #53A62D;
    height: 40px;
    width: 65px;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botoesLocalizaçao > div > a:hover {
    background-color: #44A666;
    transition-duration: 0.5s;
    height: 45px;
    width: 70px;
    color: white;
}